@import './base.css';

#app {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  display: flex;
  align-items: center; 
  justify-content: center;
  flex-direction: row;
  font-weight: normal;
  gap: 2%;
  overflow-x: hidden;
}

#app::before {
  position: absolute;
  bottom: 5%;
  right: 0%;
  content: "";
  width: 60%;
  height: 50%;
  background-color: var(--color-theme-2);
  z-index: -1;
}

.flex-spacer {
  flex-grow: 1;
}

.contact-service {
  cursor: pointer;
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  width: 70px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  border: solid 2px var(--color-heading);
  background-color: var(--color-background);
}

.contact-service svg path {
  fill: var(--color-theme);
}

a.link {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  aspect-ratio: 3/1;
  margin-top: 2%;
  margin-left: 2%;
  border: solid 1px var(--color-heading);
  border-radius: 5px;
  background-color: var(--color-background-mute);
  color: var(--color-heading);
  text-decoration: none;
  transition: .4s;
}

a.link:hover {
  border: solid 1.5px var(--color-theme);
  background-color: var(--color-background-soft);
}

.hBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-background-soft);
  border: solid 2px var(--color-heading);
  border-radius: 1rem;
  z-index: +5;
}

.dialog-title {
  display: flex;
  gap: 1rem;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog-selection {
  padding-top: .5rem;
  padding-bottom: .5rem;
  display: flex;
  gap: .5rem;
}

.dialog-button {
  position: relative;
  padding: .7rem;
  border: solid 2px var(--color-heading);
  border-radius: 1rem;
  background: var(--color-background-mute);
  transition: .3s;
}

.dialog-button:hover {
  border: solid 2px var(--color-theme);
}
