@import './base.css';

#app {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0;
  display: flex;
  align-items: center; 
  justify-content: center;
  flex-direction: row;
  font-weight: normal;
  gap: 2%;
}

#app::before {
  position: absolute;
  bottom: 5%;
  right: 0%;
  content: "";
  width: 60%;
  height: 50%;
  background-color: var(--color-theme-2);
  z-index: -1;
}

a.link {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  aspect-ratio: 3/1;
  margin-top: 2%;
  margin-left: 2%;
  border: solid 1px var(--color-heading);
  border-radius: 5px;
  background-color: var(--color-background-mute);
  color: var(--color-heading);
  text-decoration: none;
  transition: .4s;
}

a.link:hover {
  border: solid 1.5px var(--color-theme);
  background-color: var(--color-background-soft);
}